body {
    background-color: rgb(215, 111, 111);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    overflow: hidden;
    height: 100vh;
}

.grid-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: stretch;
    background-color: black;
    gap: 1px;
}

.cell {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
}